/* MAX-WIDTH: 1320px */
@media (max-width: 1320px) {
  #header #nav {
    font-size: 14px;
  }
  #header .header-banner-btn {
    width: 270px;
  }
}
/* MAX-WIDTH: 1300px */
@media (max-width: 1300px) {
  main .advantages {
    width: 90%;
  }
  main .types {
    padding: 50px;
  }
  main .types .type-card-2 {
    width: 375px;
  }
  main .steps .steps-box {
    padding: 0 50px;
  }
  main #modals-container .modal-window {
    height: 85vh;
  }
  main #modals-container .modal-half-2 p {
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.4;
  }
}
/* MAX-WIDTH: 1250px */
@media (max-width: 1250px) {
  #header .phone-number {
    width: 27%;
  }

  main .types .type-card-2 {
    width: 360px;
  }
  main .steps .steps-box {
    padding: 0 70px;
  }
}
/* MAX-WIDTH: 1200px */
@media (max-width: 1200px) {
  #header .nav-item a {
    padding: 0 20px;
  }
  #header .phone-number {
    width: 20%;
  }
  #header .header-banner-btn {
    height: 58px;
    line-height: 58px;
    border-radius: 29px;
  }

  main .types .type-card {
    width: 260px;
  }
  main .types .type-card-2 {
    width: 350px;
  }
  main .types .type-card-2 .type-description {
    height: 90px;
    font-size: 13px;
  }
  main .calculator .type-item {
    font-size: 13px;
  }
  main .steps .steps-box {
    padding: 0;
    width: 90%;
  }
  main #contacts .contact-flex {
    width: 95%;
  }
}
/* MAX-WIDTH: 1150px */
@media (max-width: 1150px) {
  main .types .type-card {
    width: 250px;
  }
  main .types .type-card-2 {
    width: 500px;
    padding-bottom: 50px;
  }
  main .types .type-card-2 .type-description {
    height: 55px;
  }
  main .types .type-card--mt30 {
    margin: 0;
  }
  main #modals-container .modal-half-2 p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.2;
  }
  main #modals-container .modal-header {
    font-size: 26px;
  }
  main #modals-container .modal-close {
    font-size: 28px;
  }

  #footer .footer-box {
    width: 90%;
  }
}
/* MAX-WIDTH: 1105px */
@media (max-width: 1105px) {
  .section-header {
    font-size: 32px;
  }

  #header .header-banner-head {
    font-size: 24px;
  }
  #header .header-banner-body {
    font-size: 50px;
  }
  #header .header-banner-sale {
    margin-top: 30px;
  }
  #header .header-banner-time {
    font-size: 65px;
  }

  main .types .type-card {
    width: 470px;
    padding-bottom: 40px;
  }
  main .types .type-description {
    height: 50px;
  }
  main .types .type-card-2 {
    width: 470px;
  }
  main .types .type-card-2 .type-description {
    height: 70px;
  }
  main .calculator .calc-block {
    padding-left: 30px;
    padding-right: 30px;
  }
  main #contacts .contact-text {
    padding-left: 20px;
  }
  main #contacts .contact-header {
    font-size: 40px;
  }
  main #FAQ .quest-header {
    font-size: 20px;
  }
  main #modals-container .modal-cost-link {
    width: 250px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }

  #footer .footer-box {
    font-size: 14px;
  }
}
/* MAX-WIDTH: 1071px */
@media (max-width: 1071px) {
  #header .nav-item a {
    padding: 0 10px;
  }
  #header .phone-number {
    width: 30%;
  }
}
/* MAX-WIDTH: 1050px */
@media (max-width: 1050px) {
  main .types .type-card {
    width: 450px;
  }
  main .types .type-card-2 {
    width: 450px;
  }
  main #modals-container .modal-img {
    width: 50%;
  }
  main #modals-container .modal-params {
    width: 50%;
  }
}
/* MAX-WIDTH: 1010px */
@media (max-width: 1010px) {
  main .types .type-card {
    width: 430px;
  }
  main .types .type-card-2 {
    width: 430px;
  }
  main #contacts .contact-body {
    margin-top: 20px;
    font-size: 16px;
  }
  main #modals-container .modal-half-2 p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.1;
  }
}
/* MAX-WIDTH: 970px */
@media (max-width: 970px) {
  .opacity-5 {
    opacity: .5;
  }

  .bg-color-1 {
    background-color: #222222 !important;
    z-index: 2;
  }

  #header #nav {
    font-size: 13px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgba(34, 34, 34, 0.6);
  }
  #header .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(34, 34, 34, 0.6);
    width: 300px;
    text-align: center;
    height: auto;
    padding: 10px 0 20px 0;
  }
  #header .nav-item {
    height: auto;
  }
  #header .phone-number {
    width: 75%;
  }

  .menu-toggle {
    height: 60px;
    width: 60px;
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }

  .menu-toggle--line {
    height: 5px;
    width: 35px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .toggle-line-1--active {
    -webkit-transform: rotateZ(45deg) translateX(10px) translateY(10px);
            transform: rotateZ(45deg) translateX(10px) translateY(10px);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .toggle-line-2--active {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  .toggle-line-3--active {
    -webkit-transform: rotateZ(-45deg) translateX(6px) translateY(-8px);
            transform: rotateZ(-45deg) translateX(6px) translateY(-8px);
  }

  main .types .type-card {
    width: 47%;
  }
  main .types .type-card-2 {
    width: 47%;
  }
  main .reviews .review-slide {
    padding-top: 0;
  }
  main .qh-span-1 {
    width: 93%;
  }

  #footer {
    padding-top: 30px;
  }
}
/* MAX-WIDTH: 900px */
@media (max-width: 900px) {
  .section-header {
    font-size: 28px;
  }

  #header .header-banner-head {
    font-size: 22px;
  }
  #header .header-banner-body {
    font-size: 40px;
  }
  #header .header-banner-sale {
    margin-top: 30px;
  }
  #header .header-banner-time {
    font-size: 60px;
  }
  #header .header-banner-btn {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    width: 240px;
  }

  main .calculator .cost {
    font-size: 18px;
  }
  main .calculator .calc-block.warning {
    font-size: 12px;
  }
  main #contacts .contact-header {
    font-size: 30px;
  }
  main #contacts .contact-form {
    max-width: 400px;
  }
  main #contacts .contact-input {
    height: 50px;
    margin-top: 25px;
    font-size: 18px;
  }
  main #contacts .contact-btn {
    height: 60px;
    margin-top: 35px;
    font-size: 22px;
  }
  main .reviews .review-slide {
    height: 400px;
    padding-top: 0;
  }
  main .reviews .review-ava {
    width: 110px;
    height: 110px;
  }
  main .reviews .review-text {
    font-size: 16px;
  }
}
/* MAX-WIDTH: 810px */
@media (max-width: 810px) {
  .mt-60 {
    margin-top: 30px;
  }

  main .advantages .adv-card--body {
    font-size: 14px;
  }
  main .advantages .adv-cards {
    margin-bottom: 60px;
  }
  main .advantages .advantages-text {
    font-size: 16px;
    line-height: 1.4;
  }
  main .types .type-description {
    height: 70px;
    line-height: 1.3;
  }
  main .types .type-card-2 .type-description {
    height: 80px;
  }
  main .calculator .calc-flex-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .calculator .calc-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
    text-align: center;
    font-size: 20px;
  }
  main .calculator .type-item {
    font-size: 18px;
  }
  main .calculator .calc-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* MAX-WIDTH: 767px */
@media (max-width: 767px) {
  main #modals-container .modal-half-1 {
    height: 30%;
  }
  main #modals-container .modal-img {
    display: none;
  }
  main #modals-container .modal-params {
    width: 100%;
  }
  main #modals-container .modal-cost {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* MAX-WIDTH: 700px */
@media (max-width: 700px) {
  #header .header-banner-head {
    font-size: 3vw;
  }
  #header .header-banner-body {
    font-size: 5vw;
  }
  #header .header-banner-sale {
    margin-top: 30px;
  }
  #header .header-banner-time {
    font-size: 8vw;
  }
  #header .header-banner-btn {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    width: 240px;
  }

  main .advantages .adv-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  main .advantages .adv-card {
    width: 35%;
    margin-bottom: 40px;
  }
  main .types .type-card-2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  main .types .type-card-2 .type-description {
    height: auto;
  }
  main .types .types-header {
    width: 90%;
  }
  main #contacts .contact-flex {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main #contacts .contact-header {
    text-align: center;
  }
  main #contacts .contact-form {
    max-width: none;
    margin-bottom: 30px;
  }
  main #contacts .contact-text {
    width: 90%;
    max-width: none;
    padding-left: 0;
  }

  #footer .footer-box {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #footer .footer-menu + .footer-menu {
    margin-top: 30px;
  }
}
/* MAX-WIDTH: 600px */
@media (max-width: 600px) {
  main .types .type-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  main .types .type-description {
    height: auto;
    line-height: 1.3;
  }
  main .steps .steps-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .steps .svg-arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  main .steps .step {
    margin: 40px 0;
  }
  main .steps .step:first-of-type {
    margin-top: 0;
  }
  main .steps .step:last-of-type {
    margin-bottom: 0;
  }
}
/* MAX-WIDTH: 500px */
@media (max-width: 500px) {
  .section-header {
    width: 100%;
  }

  #header .navbar {
    width: 100%;
  }
  #header .header-banner-head {
    font-size: 18px;
  }
  #header .header-banner-body {
    font-size: 40px;
  }
  #header .header-banner-time {
    font-size: 40px;
  }

  main .calculator .calc-block {
    padding: 0 20px;
  }
  main .calculator .calc-block.warning {
    padding: 20px;
  }
  main .calculator .cost {
    padding: 20px;
  }
  main .calculator .type-item {
    font-size: 16px;
  }
  main .calculator .select-add-option {
    width: 50px;
  }
  main #contacts .contact-flex {
    width: 100%;
  }
  main #contacts .contact-text {
    text-align: justify;
  }
  main .reviews .review-ava {
    display: none;
  }
  main .reviews .review-text {
    font-size: 15px;
  }
  main #modals-container .modal-text-3 {
    display: none;
  }
}
/* MAX-WIDTH: 480px */
@media (max-width: 480px) {
  main .calculator .type-item {
    font-size: 15px;
  }
}
/* MAX-WIDTH: 450px */
@media (max-width: 450px) {
  main .advantages .adv-card {
    width: 100%;
  }
  main .advantages .adv-card--body {
    font-size: 16px;
  }
  main .calculator .calc-btn {
    font-size: 14px;
  }
}
/* MAX-WIDTH: 420px */
@media (max-width: 420px) {
  #header .header-banner-body {
    font-size: 35px;
  }
  #header .header-banner-time {
    font-size: 35px;
  }

  main .types .types-header {
    width: 100%;
    font-size: 18px;
  }
  main .types .type-card {
    width: 100%;
  }
  main .types .type-card-2 {
    width: 100%;
  }
  main #FAQ .quest-header {
    font-size: 18px;
  }
  main #modals-container .modal-header {
    font-size: 22px;
  }
  main #modals-container .modal-cost {
    font-size: 16px;
    padding: 20px 30px 0;
  }
  main #modals-container .modal-cost-link {
    width: 90%;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
  }
  main #modals-container .modal-half-2 p {
    font-size: 13px;
    line-height: 1.25;
  }
}
/* MAX-WIDTH: 400px */
@media (max-width: 400px) {
  main #modals-container .modal-half-2 p {
    font-size: 12px;
  }
}
/* MAX-WIDTH: 370px */
@media (max-width: 370px) {
  #header .header-banner-body {
    font-size: 30px;
  }
  #header .header-banner-time {
    font-size: 30px;
  }

  main .calculator .cost {
    font-size: 18px;
  }
  main .calculator .calc-btn {
    font-size: 14px;
  }
}
/* MAX-WIDTH: 360px */
@media (max-width: 360px) {
  .section-header {
    font-size: 24px;
  }

  main .types {
    padding: 30px 25px 0;
  }
  main .types .type-header {
    font-size: 20px;
  }
  main .calculator .calc-block {
    padding-left: 0;
    padding-right: 0;
  }
  main .calculator .calc-btn {
    font-size: 12px;
  }
  main #contacts .contact-btn {
    height: 50px;
    font-size: 18px;
  }
  main .reviews .review-slide {
    height: 470px;
  }
}
/* MAX-WIDTH: 340px */
@media (max-width: 340px) {
  main .calculator .cost {
    font-size: 16px;
  }
  main #contacts .contact-header {
    font-size: 26px;
  }
}
